<!DOCTYPE html>

<html lang="en" dir="ltr">


<head>
  <meta charset="utf-8">
  <title>Sumac's Movie Recommender</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link rel="stylesheet" href="../static/style.css"
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>


  <body>
        <div class="container">
          <h1>{{title}}</h1>
            <img id= 'logo'src="../static/logo.jpg" alt="this is our logo">
            <p id="this-is-line">This is a line <br> going throught 2 lines</p>
            <a href="https://www.imdb.com">IMDB</a>
            <br>
            <form action="/recommendations">
              <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
              Movie 1:
              <input type="text" name="movie1" placeholder="0.0 - 5.0"><br>
              Movie 2:
              <input type="text" name="movie2" placeholder="0.0 - 5.0"><br>
              Movie 3:
              <input type="text" name="movie3" placeholder="0.0 - 5.0"><br>
              Movie 4:
              <input type="text" name="movie4" placeholder="0.0 - 5.0"><br>
              Movie 5:
              <input type="text" name="movie5" placeholder="0.0 - 5.0"><br>
              <input type="submit">
            </form>
        </div>     
  </body>

</html>
